*{
  margin: 0;
  padding: 0;
  font-family: "Russo One"; 
  text-decoration: none;
}

body{
  background-color: rgb(0, 0, 0);  
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  position: absolute;
}

header button{
  border: none;
  color: #fff;
  background-color: initial;
  font-size: 25px;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  text-shadow: 1px 3px 1px #3cc88f;
}

header button a:visited{
  color: #fff;

}

header button a:hover{
  font-size: 29px;
  color: #3cc88f;
  text-shadow: 0px 1px 1px #fff;  
  transition: 0.3s;
}

footer{
  display: flex;
  justify-content: space-around;
  z-index: 4;
  background-color: #fff;
  width: 100%;
  height: 185px;
  position: relative;
  top: 2390px;
}

footer p{
  font-size: 18px;
  margin-top: 8px;
}

.heading {
  margin-top: 25px;
  font-size: 22px;
  color: #3cc88f;
  margin-bottom: 10px;
}

.FirstPhoto{
  position: absolute;
  width: 100%;
}

.logo{
  position: relative;
  z-index: 1;
  margin-top: 30px;
  left: 8%;
}

.container_w_buttons{
  right: 8%;
  position: relative;
  width: 500px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text{
 font-size: 35px;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 30%;
  z-index: 1;
}

.fitchers_back{
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 90%;
}

.fithers{
  top: 98%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  left: 10%;
  height: 565px;
  z-index: 2;
}

.fithers div{
  width: 335px;
  height: 396px;
  background-color: #fff;
  border: 2px solid #3cc88f;
}


.HotelIcon {
  position: relative;
  left: calc(50% - 56px);
  top: 15%;
}

.StadionIcon{
  width: 144px;
  position: relative;
  left: calc(50% - 72px);
  top: 15%; 
}

.parkIcon{
  width: 124px;
  position: relative;
  left: calc(50% - 62px);
  top: 15%; 
}

.fithers div p{
  font-size: 25px;
  margin-top: 70px;
}

.Rent{
  background-image: url(./img/rentBack.png);
  width: 100%;
  height: 930px;
  z-index: 1;
  position: absolute; 
  top: 158%;
}

.RentDiscription{
  font-size: 50px;
  color: #fff;
  top: 30%;
  left: 8%;
  position: absolute;
  z-index: 3;
}

.RentForm{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  width: 565px;
  height: 800px;
  right: 10%;
  top: 4%;
  box-shadow: 0px 10px 8px -2px rgb(32, 32, 32);
}

.RentForm p{
font-size: 20px;
margin-top: 30px;
color: #000000;
}
 
input{
margin-top: 10px;
border: 1px solid #3cc88f;
border-radius: 15px;
height: 35px;
width: 250px;
padding-left: 20px;
transition: 0.2s;
}

input:focus{
  height: 45px;
  width: 260px;
  
  border-radius: 25px;
}

.RentForm button{
  background-color: #4e4e4e;
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 40px;
  color: #fff;
  transition: 0.2s;
}

.RentForm button:hover{
  background-color: #3cc88f;
  width: 160px;
  height: 50px;
}

.input_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: auto;
  height: 45px;
}

.button_div{
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: auto;
  height: 50px;
}

.links{
  color: black;
}

.icnos{
  position: relative;
  left: 15%;
  width: 120px;
  height: 50px;
}

.icnos img{
  width: 40px;
  margin: 5px;
}